# Node modules
node_modules/

# Build output
dist/
build/

# Vite or React local files
.vite/
.vscode/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# MacOS files
.DS_Store

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
