* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
body {
background-color: #e3e9f7;
}
.sidebar {
width: 60px;
height: 100vh;
background-color: #ffffff;
position: fixed;
left: 0;
top: 0;
transition: width 0.3s ease;
overflow: hidden;
}
.sidebar:hover {
width: 220px;
}
.sidebar .user-profile {
display: flex;
align-items: center;
padding: 15px;
margin-bottom: 20px;
}
.sidebar .user-profile img {
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 10px;
transition: all 0.3s ease;
}
.sidebar .user-name {
font-size: 16px;
color: #66586d;
opacity: 0;
transition: opacity 0.3s ease;
}
.sidebar:hover .user-name {
opacity: 1;
}
.sidebar ul {
list-style: none;
}
.sidebar ul li {
display: flex;
align-items: center;
justify-content: flex-start;
}
.sidebar ul li a {
text-decoration: none;
color: #a9abbf;
display: flex;
align-items: center;
padding: 15px;
width: 100%;
transition: background 0.3s ease, color 0.3s ease;
}
.sidebar ul li i {
font-size: 24px;
width: 60px;
text-align: center;
transition: color 0.3 ease;
}
.text {
font-size: 16px;
margin-left: 10px;
white-space: nowrap;
opacity: 0;
transition: opacity 0.3s ease;
}
.sidebar:hover .text {
opacity: 1;
}
.sidebar ul li a:hover {
background-color: #4071f4;
color: #ffffff;
}